<template>
    <div id="inside" tabindex="0" class="fileview">
        <div class="meta-info">
            <button class="toolbar" v-if="path!='/'" @click="up_dir()"><img src="go-up-symbolic.svg" /></button>
        {{ meta }}</div>
        <icon_element tabindex="-1" v-for="i in sortedfiles" :filename='i' :props='files[i]' :color='files[i].color' :key='i'
            @ls='list_files'></icon_element>
    </div>
</template>

<style>
body {
    background-color: #c0c0c0;
}
.fileview {
    margin-top: 3.1em;
    display: flex;
    position: relative;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    overflow-y: scroll;
}
.meta-info {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 2em;
    padding: 0.5em 0px;
    border-bottom: 1px solid #c0c0de;
    background-color: #DEDEDE;
}
.meta-info button {
    margin-left: 0.7em;
}
button {
    margin: 0px;
}
button.toolbar {
    padding: 2px;
    width: unset;
    min-height: unset;
    overflow: visible;
    flex: none;
}
.toolbar img {
    height: 20px;
    width: 20px;
}
</style>

<script type="python">

class Component:
    def __init__(self, name):
        self.files = wuy.files
        if not location.hash:
            self.path = location.hash = wuy.path
        else:
            self.path = location.hash[1:]
        document.title = self.path + ' - JappyShell'
        self.style = wuy.style
        self.meta_info = None
        document.addEventListener('init', self.list_or_scan)

    async def list_or_scan(self):
        await self.list_files()
        self.path = location.hash = await wuy.scan_curdir()
        document.title = self.path + ' - JappyShell'

    async def MOUNTED(self):
        wuy.on('scan', self.list_files)
        wuy.on('chdir', self.on_chdir)
        wuy.on('meta', self.on_meta)
        document.addEventListener('init', lambda *args: wuy.meta())
        window.addEventListener('hashchange', self.hash_chdir, {'once':True})
        wuy.on('scan', lambda *args: wuy.meta())
        wuy.on('spawn-child', self.on_spawn)

    def on_chdir(self, newdir):
        self.path = location.hash = newdir
        document.title = self.path + ' - JappyShell'

    async def hash_chdir(self, e):
        newpath = e.newURL[e.newURL.find('#')+1:]
        if self.path==newpath:
            console.log('No change.')
            window.addEventListener('hashchange', self.hash_chdir, {'once':True})
            return
        console.log('OLD', e.oldURL)
        console.log('NEW', newpath)
        console.log('CUR', self.path)
        hashpath = location.hash[1:]
        if not await wuy.lch_dir(hashpath):
            location.hash = self.path
        window.addEventListener('hashchange', self.hash_chdir, {'once':True})

    def on_spawn(self, children):
        self.disabled = True

    async def up_dir(self):
        newdir = await wuy.up_dir()
        if newdir:
            self.path = newdir
            document.title = self.path + ' - JappyShell'
            self.list_files()

    async def list_files(self):
        try:
            self.files = await wuy.list_files()
        except Exception as e:
            print(e)

    def COMPUTED_sortedfiles(self):
        def sorting(a, b):
            #order = int(self.files[a].size) > int(self.files[b].size)
            order = a < b
            return -1 if order else 1
        return Object.keys(self.files).sort(sorting)

    def COMPUTED_meta(self):
        return self.meta_info + ' files.'

    def on_meta(self, text):
        self.meta_info = text


</script>
