<template>
    <button :style="'background-color:' + color" @click="pick_file(filename)">
        <img :src="get_icon(props.content)" /><br /><br />
        {{ filename }}
    </button>
</template>

<style>
    button {
        flex: 0 0 auto;
        width: 150px;
        min-height: 130px;
        overflow: hidden;
        font-family: "Noto Mono";
        font-size: 10pt;
    }
    button img {
        height: 72px;
        width: 96px;
    }
</style>

<script type="python">

class Component:

    def __init__(self, filename, props, color):
        #self.filename = filename
        #self.props = props
        pass

    def get_icon(self, mime):
        if mime=='inode/directory':
            return 'folder.svg'
        else:
            return 'file.svg'

    async def pick_file(self, name):
        if 'DIRECTORY' in self.props.type:
            success = await wuy.lch_dir(name)
            if success:
                document.title = name
                self['$emit']('ls')
        else:
            wuy.launch(name)

</script>
