<template>
    <div id='container'>
        <h2><center>Placeholder</center></h2>
    </div>
</template>

<style>
#container {
    flex: auto;
}
body,html {
    font-family: "IBM Plex Mono";
    height: 100%;
    margin: 0;
}
</style>
