<template>
    <div id='terminal'></div>
</template>

<style>
.xterm {
    height: 100%;
    border: 0px;
    padding: 2px;
}
html, body {
    margin: 0px;
    overflow: hidden;
}
</style>

<script type="python">

class Component:
    def MOUNTED(self):
        self.term = Terminal(useStyle=True)
        self.term.setOption('fontSize', 16)
        self.term.setOption('fontFamily', 'IBM Plex Mono, Noto Mono, Monospace')
        self.term.setOption('theme', {'background':'BlanchedAlmond',
                                      'foreground':'DimGray',
                                      'selection':'#55885555',
                                      'cursor':'DimGray'})
        self.term.open(document.getElementById('terminal'))
        self.term.focus()
        self.term.on('data', self.term_data_in) 
        document.title = wuy.path
        self.buffered = False
        self.__in_buffer = ''
        wuy.on('data', self.term_data_out)
        wuy.on('event', self.event)
        document.addEventListener("init", self.fix_size)
        document.addEventListener("init", wuy.register)
        window.onresize = self.fix_size
        window.term = self
        self.term.attachCustomKeyEventHandler(self.handleKeyDown)
        Split(['#container', '#terminal'], {'direction':'vertical',
                                            'gutterSize': 3,
                                            'onDragEnd': self.fix_size})

    async def fix_size(self):
        self.term.fit()
        wuy.set_winsize(self.term.cols, self.term.rows)

    def handleKeyDown(e):
        if e.ctrlKey and e.shiftKey and e.code=='KeyC':
            e.preventDefault()
            if document.execCommand('copy'):
                wuy.log('Terminal: Copied.')
                return False
        elif e.ctrlKey and e.shiftKey and e.code=='KeyT':
            e.preventDefault()
            wuy.newwin(document.title)
            return False
        elif e.ctrlKey and e.key=='+':
            e.preventDefault()
            curSize = self.term.getOption('fontSize')
            self.term.setOption('fontSize', int(curSize) + 2)
            self.fix_size()
            return False
        elif e.ctrlKey and e.key=='-':
            e.preventDefault()
            curSize = self.term.getOption('fontSize')
            self.term.setOption('fontSize', int(curSize) - 2)
            self.fix_size()
            return False
        elif e.ctrlKey and e.key=='Tab':
            e.preventDefault()
            document.getElementById('inside').focus()
            return False

    def event(self, event):
        event = JSON.parse(event)
        if 'shutdown' in event:
            window.close()
        elif 'newdir' in event:
            document.title = event.newdir

    async def term_data_in(self, data):
        wuy.term_data_in(data)

    async def term_data_out(self, data):
        if self.buffered:
            self.push_to_buffer(data)
        else:
            self.term.write(data)

    def flush_buffer(self):
        self.term.write(self.__in_buffer)
        self.__in_buffer = ''

    def push_to_buffer(self, data):
        if self.__in_buffer:
            self.__in_buffer += data
        else:
            self.__in_buffer = data
            setTimeout(self.flush_buffer, 10)

</script>
