<template>
    <div id="viewer_frame" class="frame">
        <!--iframe v-if="location!='about:blank'" :src="location" ref="viewer"></iframe-->
        <iframe :src="location" ref="viewer" sandbox="allow-scripts allow-same-origin"></iframe>
        <input type="text" id="uri" ref="uri" :value="location"></input>
    </div>
</template>

<style>
    iframe {
        position: relative;
        background: white;
        height: calc(100% - 2em);
        width: 100%;
        border: 0px;
    }
    #uri {
        position: relative;
        background-color: #c0c0c0;
        border: 0px;
        height: 2.1em;
        width: 100%;
    }
</style>

<script type="python">

class Component:
    def __init__(self):
        self.location = 'about:blank'

    async def MOUNTED(self):
        wuy.on('listen-port', self.on_listen)
        wuy.on('close-ports', self.on_close)
        self['$refs'].uri.addEventListener('change', self.on_uri_change)
        self.split = Split(['#inside', '#viewer_frame'], {'direction':'horizontal',
                                                'minSize': [170, 0],
                                                'sizes': [100, 0],
                                                'gutterSize': 3})

    def on_listen(self, connection):
        self.location = location.protocol + '//' + location.hostname + ':' + connection['port']
        self['$refs'].viewer.contentDocument.location.reload()
        self.split.collapse(0)

    def on_close(self):
        self.location = 'about:blank'
        self.split.collapse(1)

    def on_uri_change(self, e):
        uri = self['$refs'].uri.value
        self.location = uri

</script>
